body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.news-feed {
    margin-top: 30px;
}

#Search {
    max-width: 480px;
}

#carousel {
    width: 50%;
    margin-top: 30px;
    max-height: 200px;
    min-height: 200px;
}

    #carousel a:hover, #carousel a:focus {
        text-decoration-color: white;
        color: white;
    }

    #carousel h4 {
        color: white;
        cursor: pointer;
    }

.left.carousel-control, .right.carousel-control {
    background-image: none;
    color: black;
}

.news-item:nth-child(even).ng-enter {
    opacity: 0.5;
    -webkit-transition: 1s;
    transition: 1s;
    left: 300px;
}

.news-item:nth-child(even).ng-enter-active {
    left: 0px;
    opacity: 1;
}

.news-item:nth-child(odd).ng-enter {
    opacity: 0.5;
    -webkit-transition: 1s;
    transition: 1s;
    right: 300px;
}

.news-item:nth-child(odd).ng-enter-active {
    right: 0px;
    opacity: 1;
}

