@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>*@
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.js"></script>*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap.js"></script>

    @Scripts.Render("~/bundles/newsfeed")
}

<div class="news-feed row" id="ng-app" ng-app="NewsFeedApp" ng-controller="NewsListController">
    <div ng-repeat="item in newsItems | limitTo:limitTo track by $index" class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#description{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                        {{item.Header}}
                    </a>
                    <a class="glyphicon glyphicon-link pull-right" href="{{item.SourceUrl}}" target="_blank">
                    </a>
                </h2>
            </div>
            <div id="description{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{$index}}">
                <div class="panel-body">
                    <div class="col-md-12">
                        <img class="img-responsive center-block" src="{{item.ImageUrl}}" />
                    </div>
                    <div class="col-md-12">
                        {{item.Description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" ng-click="loadMore()">
            Load more news
        </button>
    </div>
    <div class="col-md-12">
        <!-- CAROUSEL -->
        <div id="carousel" class="carousel center-block carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item" ng-class="$index == 0 ? 'active' : ''" ng-repeat="item in newsItems | limitTo: 3 track by $index">
                    <img width="350px" class="center-block" src="{{item.ImageUrl}}">
                    <div class="carousel-caption">
                        {{item.Header}}
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>